<ActionBar>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Image width="90px" src="/Users/onuruzun/Desktop/open-source/dota-wiki/toda-wiki/src/app/assets/img/dota2.ico"
            class="action-image"></Image>
        <Label text=" Dota Wikipedia" class="action-label"></Label>
    </StackLayout>
</ActionBar>

<TabView [selectedIndex]="tabSelectedIndex" (selectedIndexChange)="tabSelectedIndex"
    (selectedIndexChanged)="onSelectedIndexChanged($event)" tabBackgroundColor="#d35656" tabTextFontSize="16"
    tabTextColor="#f9d5bb" selectedTabTextColor="white">
    <ListView separatorColor="white" *tabItem="{title: 'Characters'}" class="list-group" [items]="heroModel.hero"
        (itemTap)="getItemIndex($event); goDetailTab();" style="height:1250px">
        <FlexboxLayout flexDirection="row" class="list-group-item">
            <StackLayout *ngFor="let item of heroModel.hero" class="list-group-item" orientation="horizontal">
                <Image src="/Users/onuruzun/Desktop/open-source/dota-wiki/toda-wiki/src/app/assets/img/jugger.png"
                    class="thumb img-circle"></Image>
                <Label ios:horizontalAlignment="center" text="Label 3" row="1" col="0" rowSpan="2"
                    [text]="item.localized_name" style="color:gray;"></Label>
            </StackLayout>
        </FlexboxLayout>
    </ListView>

    <StackLayout *tabItem="{title: 'Details'}">
        <StackLayout>
            <Image src="/Users/onuruzun/Desktop/open-source/dota-wiki/toda-wiki/src/app/assets/img/pudge.jpeg">
            </Image>
            <Label [text]="selectedCharacterId" class="h2 m-t-16 text-center" textWrap="true"></Label>
            <Label [text]="selectedCharacter" class="h2 m-t-16 text-center" textWrap="true"></Label>
            <Label [text]="selectedCharacterDesc" class="h2 m-t-16 text-center" textWrap="true"></Label>
        </StackLayout>
    </StackLayout>
</TabView>
