<ActionBar title="Dota Wikipedia" class="action-bar">
</ActionBar>

<TabView [(ngModel)]="tabSelectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">

    <ActivityIndicator [busy]="isBusy" class="activity-indicator">
        <ListView *tabItem="{title: 'Characters'}" class="list-group" [items]="heroModel.hero"
            (itemTap)="getItemIndex($event)" style="height:1250px">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <StackLayout *ngFor="let item of heroModel.hero" class="list-group-item">
                    <Image src="/Users/onuruzun/Desktop/open-source/dota-wiki/toda-wiki/src/app/assets/img/pudge.jpeg">
                    </Image>
                    <Label [text]="item.localized_name"></Label>
                </StackLayout>
            </FlexboxLayout>
        </ListView>
    </ActivityIndicator>


    <StackLayout *tabItem="{title: 'Details'}">
        <StackLayout>
            <Label [text]="tabSelectedIndexResult" class="h2 m-t-16 text-center" textWrap="true"></Label>
            <Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button>
        </StackLayout>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Settings'}">
        <StackLayout>
            <Label [text]="tabSelectedIndexResult" class="h2 m-t-16 text-center" textWrap="true"></Label>
            <Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button>
        </StackLayout>
    </StackLayout>

</TabView>
